@font-face {
  font-family: "TitleFont";
  src: url(fonts/titleFont.TTF);
}
@font-face {
  font-family: "BodyFont";
  src: url(fonts/bodyFont.ttf);
}
* {
  user-select: none;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  background: radial-gradient(transparent 70%, rgba(18, 18, 145, 0.3));
  height: 100%;
  width: 100%;
  pointer-events: none;
}
body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 9999;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  -webkit-animation: flicker 0.15s infinite;
  animation: flicker 0.15s infinite;
}
body .title {
  font-family: "TitleFont";
  background: linear-gradient(rgb(253, 29, 29) 0%, rgb(252, 176, 69) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(3px 3px rgb(131, 58, 180));
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}
.right_guess::before {
  background: radial-gradient(transparent 70%, rgba(246, 224, 94, 0.3));
}
.wrong_guess::before {
  background: radial-gradient(transparent 70%, rgba(255, 0, 0, 0.3));
}
#guessButtonContainer {
  position: absolute;
  bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  gap: 5px;
}
#guessButtonContainer .guess_radio {
  display: none;
}
#guessButtonContainer .guess_radio:checked ~ .guess_Button {
  border: 2px dashed rgb(252, 176, 69);
}

#guessButtonContainer {
  display: flex;
  gap: 2rem;
}
#guessButtonContainer .guess_radio:checked ~ .guess_Button::after {
  content: "^";
  position: absolute;
  -webkit-animation: activeButton 0.5s infinite;
  animation: activeButton 0.5s infinite;
}
#guessButtonContainer .guess_Button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "BodyFont", sans-serif;
  font-size: 2.5rem;
  color: rgb(252, 176, 69);
  --text-shadow-pos: 0.3rem;
  text-shadow: var(--text-shadow-pos) var(--text-shadow-pos) rgb(131, 58, 180);
  background: none;
  border: 2px solid rgb(131, 58, 180);
  border-radius: 15px;
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  transition: transform 0.2s;
  cursor: pointer;
}
#guessButtonContainer .guess_Button:hover {
  transform: scale(1.1);
}
#guessButtonContainer .guess_Button:hover::after {
  content: "^";
  position: absolute;
  bottom: -3rem;
}

#announcement {
  font-family: "BodyFont", sans-serif;
  color: rgb(252, 176, 69);
  text-shadow: 2px 2px rgb(131, 58, 180);
  position: absolute;
  top: 200px;
  font-weight: 700;
  text-transform: uppercase;
  transform: scale(0.2);
  filter: blur(5px);
  transition: 0.2s;
}

#guessCorrectOrNot {
  font-family: "BodyFont", sans-serif;
  color: rgb(252, 176, 69);
  text-shadow: 2px 2px rgb(131, 58, 180);
  position: absolute;
  bottom: 15rem;
  font-size: 16px;
}

:root {
  --size: 20rem;
  --zOffset: calc((var(--size) / 2));
}

.diceContainer {
  -webkit-animation: stationary 3s infinite;
  animation: stationary 3s infinite;
  /* position: relative; */
}
.diceContainer .dice {
  /* position: relative; */
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  transform: rotateX(-45deg) rotateY(-45deg);
  transition: 1s ease;
  cursor: pointer;
}

.diceContainer .dice .face {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.diceContainer .dice .face img {
  width: 100%;
  height: 100%;
}
.diceContainer .dice .side1 {
  transform: translateZ(var(--zOffset));
}
.diceContainer .dice .side6 {
  transform: rotateX(180deg) translateZ(var(--zOffset));
}
.diceContainer .dice .side2 {
  transform: rotateX(90deg) translateZ(var(--zOffset));
}
.diceContainer .dice .side5 {
  transform: rotateX(-90deg) translateZ(var(--zOffset));
}
.diceContainer .dice .side3 {
  transform: rotateY(-90deg) translateZ(var(--zOffset));
}
.diceContainer .dice .side4 {
  transform: rotateY(90deg) translateZ(var(--zOffset));
}
.diceContainer #emotes {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin-inline: auto;
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  z-index: 999;
  -webkit-animation: stationary 3s infinite;
  animation: stationary 3s infinite;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  pointer-events: none;
}
.diceContainer #emotes img {
  width: 100%;
  height: 100%;
}

#hud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-family: "TitleFont", sans-serif;
  font-size: 5rem;
  text-shadow: 0.5rem 0.5rem rgb(131, 58, 180);
  /* padding: 0 1rem; */
  top: 10rem;
  width: 90%;
}
#hud #numberOfTries {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hud #numberOfTries img {
  --size: 5rem;
  image-rendering: pixelated;
  padding-top: 1rem;
  width: var(--size);
  height: var(--size);
}

#winNumLog {
  display: none;
}

#guessLog {
  font-family: "TitleFont", sans-serif;
  text-shadow: 2px 2px rgb(131, 58, 180);
  position: absolute;
  bottom: 13rem;
}

#gameResults,
#gameStart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
#gameResults,
#gameStart {
  display: none;
}
#gameStart #gameStartMenu #gameStartButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#gameStart #gameStartMenu h1,
button {
  font-size: 4rem;
  --text-shadow-pos: 0.4rem;
  text-shadow: var(--text-shadow-pos) var(--text-shadow-pos) rgb(131, 58, 180);
}
#gameStart #gameStartMenu button {
  background: none;
  border: none;
  font-family: "BodyFont", sans-serif;
  color: rgb(252, 176, 69);
  width: 45%;
  height: auto;
  border: 2px solid rgb(131, 58, 180);
  z-index: 999;
  padding: 10px;
  margin: 20px 0;
  cursor: pointer;
}
#gameStart #gameStartMenu button:hover {
  background: rgb(131, 58, 180);
  color: rgb(252, 176, 69);
  text-shadow: 2px 2px rgb(131, 58, 180);
  border: 2px solid rgb(252, 176, 69);
}
#gameStart #gameStartMenu button h2,
#gameStart #gameStartMenu button span {
  font-family: "TitleFont", sans-serif;
}
#gameStart #gameStartMenu #game3 {
  font-size: 2rem;
}
#gameResults h1 {
  --text-shadow-pos: 0.4rem;
  text-shadow: var(--text-shadow-pos) var(--text-shadow-pos) rgb(131, 58, 180);
}
#gameResults h1 {
  font-size: 5rem;
}
#gameResults h3 {
  font-size: 3rem;
}
#gameResults .gameSummary {
  font-family: "BodyFont", sans-serif;
  font-size: 2rem;
  color: rgb(252, 176, 69);
  /* width: 300px; */
  height: auto;
  border: 2px dashed rgb(131, 58, 180);
  z-index: 999;
  padding: 2rem;
  margin: 20px 0;
  text-align: center;
}
#gameResults .gameSummary p {
  text-align: center;
}
#gameReults .gameSummary div:first-child {
  margin-top: 0;
  background: blue;
  color: white;
}
#gameResults .gameSummary span::before {
  /* content: "* "; */
}
#gameResults .gameSummary .lose {
  opacity: 0.3;
}
#gameResults .gameSummary .win {
  opacity: 1;
}
#gameResults #gameRestart,
#gameStart #gameStartMenu {
  font-family: "BodyFont", sans-serif;
  color: rgb(252, 176, 69);
  --text-shadow-pos: 0.25rem;
  text-shadow: var(--text-shadow-pos) var(--text-shadow-pos) rgb(131, 58, 180);
  font-family: "TitleFont", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-height: 200px; */
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid rgb(131, 58, 180);
  z-index: 999;
  padding: 20px 20px;
}
#gameRestart h1 {
  margin: 0;
  text-align: center;
}
#gameResults #gameRestart .gameRestartButtons {
  display: flex;
  flex-direction: column;
  position: relative;
}
#gameResults #gameRestart .gameRestartButtons button {
  font-family: "BodyFont", sans-serif;
  color: rgb(252, 176, 69);
  --text-shadow-pos: 0.25rem;
  text-shadow: var(--text-shadow-pos) var(--text-shadow-pos) rgb(131, 58, 180);
  padding-top: 5px;
  border: none;
  background: none;
}

#gameResults #gameRestart .gameRestartButtons button:hover::before {
  content: ">";
  position: absolute;
  left: -4.2rem;
  -webkit-animation: arrowAnimation 0.5s infinite;
  animation: arrowAnimation 0.5s infinite;
}

#perfectKoSir {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 99999;
}
#perfectKoSir::before {
  content: "PERFECT KO SIR?";
  position: absolute;
  top: 10px;
  font-family: "TitleFont", sans-serif;
  font-size: 40px;
  text-shadow: 0px 0px 10px black;
}
#perfectKoSir img {
  width: 100%;
  height: 100%;
}
#perfectKoSir .perfectKoSir_buttons {
  position: absolute;
  bottom: 5rem;
}
#perfectKoSir .perfectKoSir_buttons button {
  padding: 5px 10px;
}

.perfectKoSir_omsim {
  text-align: center;
  -webkit-animation: perfectSyempre 0.5s infinite;
  animation: perfectSyempre 0.5s infinite;
}
.perfectKoSir_omsim::before {
  content: "YAY, THANK YOU SIR!!" !important;
  top: 10px;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  position: absolute;
  font-family: "TitleFont", sans-serif;
  font-size: 40px;
  text-shadow: 0px 0px 10px black;
  -webkit-animation: perfectSyempre 0.5s infinite;
  animation: perfectSyempre 0.5s infinite;
}
.perfectKoSir_omsim::after {
  content: "1 NA AKONG GRADE SIR ;)";
  bottom: 10px;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
  position: absolute;
  font-family: "TitleFont", sans-serif;
  font-size: 40px;
  text-shadow: 0px 0px 10px black;
  -webkit-animation: perfectSyempre 0.5s infinite;
  animation: perfectSyempre 0.5s infinite;
}

#guideControls {
  position: absolute;
  bottom: 10rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#guideControls span {
  font-family: "BodyFont", sans-serif;
  font-size: 2rem;
}
#keyGuide {
  display: block;
  height: 32px;
}
#keyGuide img {
  width: 100%;
  height: 100%;
}

#touchGuide {
  display: block;
  height: 32px;
}
#touchGuide img {
  width: 100%;
  height: 100%;
  -webkit-animation: touchGuideAnimation 1s infinite;
  animation: touchGuideAnimation 1s infinite;
}

#gameDebug {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "BodyFont", sans-serif;
  font-size: 0.5rem;
  opacity: 0;
  pointer-events: none;
  z-index: 99999;
}

#gameVersion {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "BodyFont", sans-serif;
  font-size: 0.8rem;
  pointer-events: none;
  z-index: 9999999;
}

#checkboardTable {
  font-family: "BodyFont", sans-serif;
  position: absolute;
  left: 0;
  top: 150px;
  pointer-events: none;
  font-size: 2rem;
  transform-origin: right;
}
#checkboardTable.infinite {
  position: static;
  pointer-events: all;
}
#checkboardtable.infinite thead {
  width: calc(100% - 1em);
}
#checkboardTable.infinite tbody {
  display: block;
  height: 60vh;
  overflow-y: scroll;
}
#checkboardTable.infinite tr {
  display: block ruby;
  text-align: center;
  width: 100%;
}
#checkboardTable.infinite #checkboard tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
#checkboardTable.infinite #checkboard tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}
#checkboardTable th,
#checkboardTable td {
  padding: 5px;
  border-right: 3px solid white;
}
#checkboardTable th {
  border-bottom: 3px solid white;
}
#checkboardTable th:last-child,
#checkboardTable td:last-child {
  border-right: none;
}
#checkboardTable #checkboard .win {
  color: rgb(252, 176, 69);
  background-color: rgba(252, 176, 69, 0.2);
}
#blackBars {
  position: absolute;
  inset: 0;
  z-index: 99999;
  transform: scale(1.5);
  pointer-events: none;
}
#blackBars .bar {
  position: absolute;
  width: 100%;
  height: 10rem;
  background-color: black;
}
#blackBars .bar:first-child {
  top: 0;
}
#blackBars .bar:last-child {
  bottom: 0;
}
